Tuples

In [1]:
#An example of tuple
tuple1=("Ayub",26,"M")

In [2]:
#Accessing first element of tuple1
tuple1[0]

'Ayub'

In [3]:
tuple1[-3]

'Ayub'

In [5]:
#Concatenation
tuple2=tuple1+("MBA","Engineering")
tuple2

('Ayub', 26, 'M', 'MBA', 'Engineering')

In [6]:
#For obtaining first 3 elements of tuple2
tuple2[0:3]

('Ayub', 26, 'M')

In [7]:
#To get length of a tuple
len(tuple2)

5

In [14]:
tuple3=(1,2,3,6,5)
#Sorting tuple3
Sortedtuple=sorted(tuple3)
Sortedtuple

[1, 2, 3, 5, 6]

In [15]:
#Nested tuple
tuple4=(1,2,(5,6),7)
tuple4[2]

(5, 6)

In [17]:
#For getting number 5 in tuple4
tuple4[2][0]

5

In [22]:
#Adding more square brackets would help to access deeper elements
tuple5=(1,2,("Male","M"))
tuple5[2][0][0:3]

'Mal'

Lists

In [23]:
list1=[1,2,"Male"]

In [25]:
#For obtaining first element of list
list1[0]

1

In [26]:
#Slicing in lists
list1[0:2]

[1, 2]

In [34]:
list1=[1,2,3]
#Concatenation
list2=list1+["Man",24]
list2

[1, 2, 3, 'Man', 24]

In [42]:
list3=[1,2]
#Adding elemnts using extend 
list3.extend(["M",3])
list3

[1, 2, 'M', 3]

In [45]:
list4=[1,2]
#Adding elements using append
list4.append([1,2])
list4

[1, 2, [1, 2]]

In [46]:
#Lists are mutable.So we can change 
#To change first element of list4 to Ayub
list4[0]="Ayub"

In [47]:
list4

['Ayub', 2, [1, 2]]

In [48]:
#To delete first element of list4
del(list4[0])

In [49]:
list4

[2, [1, 2]]

In [50]:
#To convert string to list
"Mohammed Ayubsha".split()

['Mohammed', 'Ayubsha']

In [51]:
#To split based on a delimiter
"a,b,c,d".split(",")

['a', 'b', 'c', 'd']

In [52]:
a=[1,2]
b=a
#Changing first element in b changes first element in a
b[0]=5
a

[5, 2]

In [53]:
a=[1,2]
#After cloning
b=a[:]
#Changing first element in b does not change first element in a
b[0]=5
a

[1, 2]